<ion-header>
  <ion-navbar>
      <ion-title>
        Favourite Events
      </ion-title>
  </ion-navbar>

  <div class="headerBackground" [style.background]="'url(' + backgroundImg + ')'"></div>
</ion-header>

<ion-content fullscreen #myContent>
  <div>
    <ion-card *ngFor="let event of favEvents$">
      <ion-item [id]=event.key>
        <img class="eventImg" src="../../assets/imgs/event.jpg" (click)="displayEventInfo(event.key)">
        <div class="eventDesc" (click)="displayEventInfo(event.key)">
          <div class="eventDateTime">{{ event.date }} @ {{ event.time }}</div>
          <div class="eventTitle">{{ event.eventName }}</div>   
          <div class="eventCompany">By Company Name</div>
        </div>     
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll [hidden]="isEventFinished"
    (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>   
  </ion-infinite-scroll>

  <div class="notification" *ngIf="isEmpty">
    Please add some favourite events.<br/> It's so silent and lonely over here.
    <img class="emptyEventimg" [src]="'../../assets/imgs/tumbleweed.gif'"/>
  </div>
</ion-content>
