<ion-header>

  <!-- <ion-navbar>
      <ion-title *ngIf="showTitle">
        Events
      </ion-title>
      <ion-searchbar *ngIf="showSearchBar" animated [(ngModel)]="eventName" showCancelButton="false" placeholder="Search for event...">
        </ion-searchbar>
      <ion-buttons right>
          <button ion-button (click)="clickedSearchIcon()"><ion-icon name="search"></ion-icon></button>
          <button ion-button><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar> -->

  <header [title]="'Events'"></header>

  <div class="extraHeader header-size-transition" [style.transition-duration]="'.' + transDuration + 's'" [style.max-height]="headerHeight + 'px'">
    <div class="extraHeader" [style.background]="'url(' + backgroundImg + ')'">
      <div class="extraHeaderContent">
        <!-- Good {{day}}, {{lastName}} -->
        Good {{day}}, Wish you have a good day ahead!
      </div>
    </div>
  </div>
</ion-header>

<ion-content fullscreen #myContent (ionScroll)="scroll($event)">
  <div class="imghidden">
    <img class="imghidden" [src]="hiddenImg"/>
  </div>
  <div>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let event of events$ | async">
      <ion-item [id]=event.key>
        <img class="eventImg" src="../../assets/imgs/event.jpg" (click)="displayEventInfo(event.key)">
        <div class="payment">{{event.payment}}</div>
        <div class="buttons">
          <ion-icon name="heart" [id]="event.key + '_fav'" (click)="addToFav($event)" [ngClass]="favArr.includes(event.key)?'iconred':'iconwhite'"></ion-icon>
          <ion-icon name="share" [id]="event.key + '_share'" (click)="shareEvent($event)"></ion-icon>
        </div>
        <div class="eventDesc" (click)="displayEventInfo(event.key)">
          <div class="eventDateTime">{{ event.date }} @ {{ event.time }}</div>
          <div class="eventTitle">{{ event.eventName }}</div>   
          <div class="eventCompany">By Company Name</div>
        </div>     
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll [hidden]="isEventFinished"
    (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>   
  </ion-infinite-scroll>

  <h5 class="notification is-warning" *ngIf="isEventFinished">
    End of event(s). Thanks for scrolling :)
  </h5>
</ion-content>
