<ion-header>

  <ion-navbar>
      <ion-title *ngIf="showTitle">
        Events
      </ion-title>
      <ion-searchbar *ngIf="showSearchBar" animated [(ngModel)]="eventName" showCancelButton="false" placeholder="Search for event...">
        </ion-searchbar>
      <ion-buttons right>
          <button ion-button (click)="clickedSearchIcon()"><ion-icon name="search"></ion-icon></button>
          <button ion-button><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

  <div class="extraHeader" [style.height]="headerHeight + 'px'" [style.background]="'url(' + backgroundImg + ')'">
    <div class="extraHeaderContent" float-right>
      Good {{day}}, {{lastName}}
    </div>
  </div>
</ion-header>

<ion-content fullscreen>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <ion-list class="list">
    <ion-item *ngFor="let event of events$ | async">
      {{ event.title }} | {{ event.date }}
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [hidden]="isEventFinished"
    (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>   
  </ion-infinite-scroll>

  <h5 class="notification is-warning" *ngIf="isEventFinished">
    End of event(s). Thanks for scrolling :)
  </h5>
</ion-content>
