<ion-header>

  <ion-navbar>
      <ion-title *ngIf="showTitle">
        Events
      </ion-title>
      <ion-searchbar *ngIf="showSearchBar" animated [(ngModel)]="eventName" showCancelButton="false" placeholder="Search for event...">
        </ion-searchbar>
      <ion-buttons right>
          <button ion-button (click)="clickedSearchIcon()"><ion-icon name="search"></ion-icon></button>
          <button ion-button><ion-icon name="more"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>

  <div class="extraHeader" [style.height]="headerHeight + 'px'" [style.background]="'url(' + backgroundImg + ')'">
    <div class="extraHeaderContent" float-right>
      Good {{day}}, {{lastName}}
    </div>
  </div>
</ion-header>

<ion-content fullscreen #myContent>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div class="list">
    <ion-card *ngFor="let event of events$ | async" (click)="displayEventInfo(event.key)">
      <ion-item [id]=event.key>
        <img class="eventImg" src="../../assets/imgs/event.jpg">
        <div class="buttons">
          <ion-icon name="heart" [id]="event.key + '.fav'"></ion-icon>
          <ion-icon name="share"></ion-icon>
        </div>
        <div class="eventDesc">
          <div class="eventDateTime">{{ event.date }} @ {{ event.time }}</div>
          <div class="eventTitle">{{ event.eventName }}</div>   
          <div class="eventCompany">By Company Name</div>
        </div>     
      </ion-item>
    </ion-card>
  </div>

  <ion-infinite-scroll [hidden]="isEventFinished"
    (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>   
  </ion-infinite-scroll>

  <h5 class="notification is-warning" *ngIf="isEventFinished">
    End of event(s). Thanks for scrolling :)
  </h5>
</ion-content>
